body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  position: relative;
}

#files-array-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 35px 10px 20px 10px;
  margin-bottom: 15px;
  overflow-x: auto;
}

#main-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  textarea {
    width: 50%;
  }
}